<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BASE">
	
	<!-- Base search result map  -->
	<resultMap type="com.heytrade.pokedex.commons.model.Page" id="baseSearchResultMap">
    	<id property="totalRecords" column="totalRecords"/>
    </resultMap>
    
	<!--
		The following SQL will be used to perform approximate searches (avoiding non standard characters)
	 -->
	<sql id="translate1">
		TRIM(TRANSLATE(UPPER(
	</sql>
	<sql id="translate2_Aproximado">
		),'ÁÉÍÓÚÀÈÌÒÙÃÕÂÊÎÔÛÄËÏÖÜÇ','AEIOUAEIOUAOAEIOOAEIOUC')) LIKE
		'%'|| TRIM(TRANSLATE(UPPER(
	</sql>
	<sql id="translate2_Igual">
		),'ÁÉÍÓÚÀÈÌÒÙÃÕÂÊÎÔÛÄËÏÖÜÇ','AEIOUAEIOUAOAEIOOAEIOUC')) =
		TRIM(TRANSLATE(UPPER(
	</sql>
	<sql id="translate3_Aproximado">
		),'ÁÉÍÓÚÀÈÌÒÙÃÕÂÊÎÔÛÄËÏÖÜÇ','AEIOUAEIOUAOAEIOOAEIOUC'))||'%'
	</sql>
	<sql id="translate3_Igual">
		),'ÁÉÍÓÚÀÈÌÒÙÃÕÂÊÎÔÛÄËÏÖÜÇ','AEIOUAEIOUAOAEIOOAEIOUC'))
	</sql>

</mapper>